    <section class="confirmDeletion">
        <div class="modal" id="ConfirmDelete" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@Resource.lbl_Warining</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-dicline" data-bs-dismiss="modal">@Resource.lbl_Close</button>
                        <button class="btn btn-danger" asp-action="Delete">@Resource.lbl_Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
