
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="bg-body">
        <div class="text-white">
            Passowrd reset link sent to your email.please check your inbox:)
        </div>
        <div>
            <a href="https://outlook.live.com/mail/0/" >Your Inbox</a>
        </div>

    </div>
</div>


