@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<!-- main -->

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword">
			<div asp-validation-summary="All"></div>
			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email"></span>

			<input type="submit" value="Forget Passowrd">
		</form>			
	</div>
</div>
<!-- copyright -->
<div class="colorlibcopy-agile">
	<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
</div>
<!-- //copyright -->
<ul class="colorlib-bubbles">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>






