@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<!-- main -->

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<div class="alert-danger" asp-validation-summary="All"></div>
		     <input hidden asp-for="Email" />
		     <input hidden asp-for="Token" />
			<input class="text" type="password" asp-for="NewPassword" placeholder="New Password" required="">
			<span class="text-danger" asp-validation-for="NewPassword"></span>

			<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
			<div class="wthree-text">
				<label class="anim">
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="Reset Password">
		</form>	
	</div>
</div>
<!-- copyright -->
<div class="colorlibcopy-agile">
	<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
</div>
<!-- //copyright -->
<ul class="colorlib-bubbles">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>