
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="body">
        <div>
            Password Was Reset Successfuly , please Login Again:)
        </div>
        <div>
            <a asp-action="Login" asp-controller="Account">Login</a>
        </div>
    </div>
</div>

